# Hexo Configuration
## Docs: https://hexo.io/docs/configuration.html
## Source: https://github.com/hexojs/hexo/

# Site
title: 赖同学
subtitle:
description: 多多指教
author: 赖彬鸿
language: zh-Hans
timezone:

# URL
## If your site is put in a subdirectory, set url as 'http://yoursite.com/child' and root as '/child/'
url: http://laibh.top
root: /
# permalink: :year/:month/:day/:title/
permalink: :title.html
permalink_defaults:

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories
code_dir: downloads/code
i18n_dir: :lang
skip_render: 
  - 'README.md' 
  - 'static/**'
  - baidu_verify_**.html
  - googleee1746fef72f36b4.html
  - 'robots.txt'
  - 'tencent14532930739356933315.txt'
  - '404.html'

# Writing
new_post_name: :title.md # File name of new posts
default_layout: post
titlecase: false # Transform title into titlecase
external_link: false # Open external links in new tab
filename_case: 0
render_drafts: false
post_asset_folder: false
relative_link: false
future: true
highlight:
  enable: true
  line_number: true
  auto_detect: false
  tab_replace:

# live2d 
live2d:
  enable: true
  pluginModelPath: assets/
  model:
    use: live2d-widget-model-tororo  #模板目录，在node_modules里
  display:
    position: right
    width: 200 
    height: 400
  mobile:
    show: false  #是否在手机进行显示  

# Home page setting
# path: Root path for your blogs index page. (default = '')
# per_page: Posts displayed per page. (0 = disable pagination)
# order_by: Posts order. (Order by date descending by default)
index_generator:
  path: ''
  per_page: 10
  order_by: -date
  
# Category & Tag
default_category: uncategorized
category_map:
tag_map:

# Date / Time format
## Hexo uses Moment.js to parse and display date
## You can customize the date format as defined in
## http://momentjs.com/docs/#/displaying/format/
date_format: YYYY-MM-DD
time_format: HH:mm:ss

# Pagination
## Set per_page to 0 to disable pagination
per_page: 10
pagination_dir: page

# Extensions
## Plugins: https://hexo.io/plugins/
plugins:
  hexo-generate-feed
## Themes: https://hexo.io/themes/
theme: next


#添加搜索
algolia:
  applicationID: '1YNH8Y3MP9'
  apiKey: '61c189facf700193dfcbb902369ce227'
  # adminApiKey: '097bff07ff221e5fc4e28ae91cd53807'
  indexName: '赖同学'
  chunkSize: 5000
  fields:
  - title
  - slug
  - path
  - content:strip

# Mermaid tag
mermaid:
  enable: true
  # Available themes: default | dark | forest | neutral
  theme: forest
  cdn: //cdn.jsdelivr.net/npm/mermaid@8/dist/mermaid.min.js
  #cdn: //cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0/mermaid.min.js

# Deployment
## Docs: https://hexo.io/docs/deployment.html
deploy: 
  type: git
  repository: git@github.com:LbhFront-end/LbhFront-end.github.io
  branch: master
